<% include partials/header.ejs %>
<% include partials/footer.ejs %>

<!DOCTYPE html>
<html>
  <!-- head content -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!-- main content -->
  <main>
    <h1>
      About Me!
    </h1>
    <br/>
    <br/>
    <fieldset>
      <h2>
        Hi! I'm Mehreen Abdul Rahman!
      </h2>
          <img alt="Image" height="202" src="/assets/images/faceimg.jpeg" style="float: right" width="150"  >
          <h3>
            I'm an international student from India. I am enrolled in Centennial College pursuing an advanced diploma in Software Engineering Technology with AI.
            I'm quite excited to drive my limits and explore all my options in this field. Working with various databases and programmming languages piques my core interest in software engineering.
            I believe working with software, there will always be a room for a difference and a room for improvement so I strive harder and deeper into the field I am pursuing.
            Adaptability and curiousness will always be the key to working with softwares. 
          </h3>
          <!-- link to resume -->
          <h4>
            You can access my resume <a href="/assets/Resume.pdf">here</a>.
          </h4>
    </fieldset>
  </main>
</html>