<% include partials/header.ejs %>
<% include partials/footer.ejs %>


<!DOCTYPE html>
  <html>
    <!-- head content -->
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <!-- main content -->
    <main>
      <h1>
        Services I can offer!
      </h1>
      <br/>
      <br/>
      <fieldset>
        <h2>
          From what my Projects page displayed, I can offer a variety of services.
          Some of them include general programming in languages like C#, HTML, CSS, JavaScript, Java, Python. I've also worked with Unix/Linux Operating System and SQL query.
          I'm confident working with databases. I look forward to working with software system designs and gaining hands on experience with software testing.
          I'm able to effectively communicate and write reports based on the work as a junior software developer.
        </h2>
        <!-- div class for images -->
        <div class="row">
          <img src="/assets/images/servicesimg1.jfif" alt="image" width="342px" height="340px">
          <img src="/assets/images/servicesimg4.jpg" alt="image" width="342px" height="340px">
          <img src="/assets/images/servicesimg3.webp" alt="image" width="342px" height="340px">
        </div>
      </fieldset>
    </main>
  </html>